@charset "utf-8";
* {
    font-family: Arial, Helvetica, sans-serif;

}
body{
    background-image: linear-gradient(to right, #BE9593, #F1D7D6 );
}
main{
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 10px 10px #917271aa;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #d25049ce;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(239, 220, 124);
}
h2{
    
    color: rgb(234, 158, 65);
}
p{
    text-align: justify;
}